# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [198]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
# Output File (CSV)
output_data_file_2 = "../output_data/cities_clean.csv"
# Import API key
from api_keys import g_key
print(g_key)
gmaps.configure(api_key = g_key)

AIzaSyCSUx68OiEqwrnEdu7QEgRN3QaKtq0YbB8

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [147]:
new_df = pd.read_csv(output_data_file_2)

In [148]:
new_df

,city,Latitude,Longitude,"Max temp, F",Humidity %,Cloudiness,"Wind Speed, mph",Country,Date
0,upernavik,72.79,-56.15,32.34,94.0,23.0,11.41,GL,1.592274e+09
1,hobyo,5.35,48.53,79.11,71.0,57.0,20.67,SO,1.592274e+09
2,barrow,71.29,-156.79,39.20,80.0,1.0,13.87,US,1.592274e+09
3,pokosnoye,55.53,101.05,59.18,59.0,100.0,4.56,RU,1.592274e+09
4,sorland,67.67,12.69,47.53,76.0,95.0,12.19,NO,1.592274e+09
...,...,...,...,...,...,...,...,...,...
548,bahia honda,22.90,-83.16,78.17,82.0,86.0,4.70,CU,1.592274e+09
549,owase,34.07,136.20,81.52,45.0,100.0,0.63,JP,1.592274e+09
550,mecca,21.43,39.83,89.08,21.0,0.0,5.10,SA,1.592274e+09
551,vestmannaeyjar,63.44,-20.27,46.89,68.0,86.0,10.80,IS,1.592274e+09
552,havelock,34.88,-76.90,69.01,90.0,100.0,5.99,US,1.592274e+09

In [149]:
#new_df.loc[new_df['Country'] == 'IS','Max temp, F'] = 0
new_df.loc[new_df['Country'] == 'IS']

,city,Latitude,Longitude,"Max temp, F",Humidity %,Cloudiness,"Wind Speed, mph",Country,Date
304,stykkisholmur,65.08,-22.73,45.27,76.0,98.0,14.27,IS,1.592274e+09
427,hofn,64.25,-15.21,47.70,85.0,52.0,9.69,IS,1.592274e+09
499,husavik,66.04,-17.34,42.80,70.0,91.0,0.00,IS,1.592274e+09
551,vestmannaeyjar,63.44,-20.27,46.89,68.0,86.0,10.80,IS,1.592274e+09

In [169]:
new_df['city'].tolist()

['upernavik',
 'hobyo',
 'barrow',
 'pokosnoye',
 'sorland',
 'chicama',
 'puerto ayora',
 'atuona',
 'faanui',
 'hermanus',
 'luderitz',
 'ushuaia',
 'busselton',
 'gazli',
 'alyangula',
 'hithadhoo',
 'dingle',
 'lata',
 'naryan-mar',
 'nanakuli',
 'shimoda',
 'chapleau',
 'bethel',
 'dabat',
 'bagaha',
 'caravelas',
 'rikitea',
 'mar del plata',
 'pevek',
 'faya',
 'tall kayf',
 'chuy',
 'kawalu',
 'roblin',
 'nome',
 'takoradi',
 'vardo',
 'coquimbo',
 'port alfred',
 'hobart',
 'neuquen',
 'dauriya',
 'sinnamary',
 'new norfolk',
 'bluff',
 'vaini',
 'bud',
 'tiksi',
 'butaritari',
 'usinsk',
 'mount isa',
 'lorengau',
 'lufilufi',
 'lompoc',
 'tasiilaq',
 'hasaki',
 'samarai',
 'palmer',
 'marawi',
 'albany',
 'casablanca',
 'punta arenas',
 'puerto colombia',
 'bubaque',
 'qazax',
 'avarua',
 'itoman',
 'fuling',
 'quilmana',
 'ovalle',
 'gogrial',
 'port-cartier',
 'hamilton',
 'edremit',
 'arona',
 'sao filipe',
 'bredasdorp',
 'bilma',
 'khatanga',
 'airai',
 'tazovskiy',
 'cape town',
 'saint-philippe',
 'alice springs',
 'oksfjord',
 'ilo',
 'jamestown',
 'kainantu',
 'narsaq',
 'kargasok',
 'dembi dolo',
 'chokurdakh',
 'port blair',
 'bjornevatn',
 'tuktoyaktuk',
 'cherskiy',
 'arraial do cabo',
 'kapaa',
 'aykhal',
 'dikson',
 'te anau',
 'zhigansk',
 'comodoro rivadavia',
 'nyurba',
 'dakar',
 'severo-kurilsk',
 'san cristobal',
 'invermere',
 'san patricio',
 'henties bay',
 'saskylakh',
 'usakos',
 'chernoyerkovskaya',
 'nishihara',
 'esperance',
 'bengkulu',
 'tucuman',
 'key west',
 'hakkari',
 'lasa',
 'leshukonskoye',
 'padang',
 'tuatapere',
 'korla',
 'zeya',
 'maniitsoq',
 'terrace',
 'souillac',
 'mao',
 'novyy urengoy',
 'saint anthony',
 'yellowknife',
 'kidal',
 'tilbury',
 'vao',
 'ukiah',
 'rantepao',
 'waingapu',
 'victoria',
 'voh',
 'provideniya',
 'lieksa',
 'porto novo',
 'fortuna',
 'san agustin',
 'mataura',
 'port elizabeth',
 'nikolskoye',
 'saint george',
 'talnakh',
 'adre',
 'castro',
 'abu samrah',
 'mount gambier',
 'weinan',
 'haines junction',
 'ylivieska',
 'maldonado',
 'ribeira grande',
 'walajapet',
 'roma',
 'vostok',
 'abu zabad',
 'linxia',
 'port hardy',
 'namibe',
 'mahebourg',
 'kruisfontein',
 'marsa matruh',
 'mandalgovi',
 'fatehgarh',
 'moramanga',
 'kodiak',
 'bang saphan',
 'kangaatsiaq',
 'bemidji',
 'kibakwe',
 'praia da vitoria',
 'dryden',
 'port shepstone',
 'salinas',
 'longyearbyen',
 'noumea',
 'russell',
 'cidreira',
 'asyut',
 'qrendi',
 'batemans bay',
 'east london',
 'makokou',
 'olinda',
 'teacapan',
 'nieuw amsterdam',
 'georgetown',
 'ewa beach',
 'chiredzi',
 'covington',
 'kosh-agach',
 'cay',
 'berlevag',
 'save',
 'kabalo',
 'anadyr',
 'sherlovaya gora',
 'nemuro',
 'iralaya',
 'the valley',
 'kyra',
 'hilo',
 'college',
 'rapar',
 'ust-maya',
 'ancud',
 'leninskoye',
 'dubbo',
 'sabang',
 'ilulissat',
 'banjar',
 'gbarnga',
 'thompson',
 'shetpe',
 'chapais',
 'bonfim',
 'holt',
 'ankazoabo',
 'svetlaya',
 'vanimo',
 'boende',
 'lerwick',
 'ulaanbaatar',
 'barra patuca',
 'dzaoudzi',
 'tazmalt',
 'kununurra',
 'poso',
 'kurilsk',
 'qaanaaq',
 'isangel',
 'fort abbas',
 'carutapera',
 'kamenka',
 'nanortalik',
 'iqaluit',
 'ca mau',
 'geraldton',
 'odweyne',
 'sitka',
 'flinders',
 'waldorf',
 'marshfield',
 'alofi',
 'merauke',
 'bathsheba',
 'aklavik',
 'yashan',
 'darnah',
 'panguna',
 'petropavlovsk-kamchatskiy',
 'haapiti',
 'pilar',
 'qaqortoq',
 'malangali',
 'evanston',
 'kavieng',
 'christchurch',
 'sao joao da barra',
 'nouadhibou',
 'killybegs',
 'claveria',
 'ballina',
 'carnarvon',
 'lykhivka',
 'loandjili',
 'bitung',
 'montlucon',
 'eureka',
 'arlit',
 'winslow',
 'north bend',
 'banda aceh',
 'leningradskiy',
 'brae',
 'ocos',
 'boa vista',
 'gewane',
 'marsh harbour',
 'ponta do sol',
 'port-gentil',
 'dogondoutchi',
 'port lincoln',
 'farah',
 'davila',
 'vila velha',
 'kirkuk',
 'wajima',
 'behshahr',
 'sechura',
 'benjamin constant',
 'smolenka',
 'beringovskiy',
 'harper',
 'morondava',
 'zabaykalsk',
 'oriximina',
 'stykkisholmur',
 'torbay',
 'troitskoye',
 'buta',
 'kailua',
 'saldanha',
 'mapiripan',
 'dicabisagan',
 'cerquilho',
 'kiunga',
 'bobrovka',
 'cabra',
 'ust-tsilma',
 'colares',
 'luena',
 'norman wells',
 'biak',
 'bima',
 'poco verde',
 'saint-pierre',
 'manacapuru',
 'torit',
 'ithaca',
 'balkanabat',
 'ust-kuyga',
 'okhotsk',
 'abha',
 'kazachinskoye',
 'san pedro',
 'pisco',
 'polohy',
 'half moon bay',
 'yumen',
 'mamallapuram',
 'jalu',
 'cap malheureux',
 'laguna',
 'boguchany',
 'yeppoon',
 'manaure',
 'itarema',
 'la paz',
 'daru',
 'arrifes',
 'maningrida',
 'cabo san lucas',
 'quang ngai',
 'nagato',
 'salalah',
 'kirakira',
 'katsuura',
 'pryazha',
 'aguimes',
 'camana',
 'sakakah',
 'meulaboh',
 'tilichiki',
 'mamlyutka',
 'aswan',
 'romitan',
 'elko',
 'navoloki',
 'yeghegnavan',
 'pozhva',
 'shingu',
 'kota',
 'clyde river',
 'camden',
 'villanueva de la serena',
 'saraipali',
 'codrington',
 'katherine',
 'cayenne',
 'clarksville',
 'la garriga',
 'mlowo',
 'hovd',
 'ovsyanka',
 'west plains',
 'cabinda',
 'shagonar',
 'shubarkuduk',
 'rumuruti',
 'ampanihy',
 'richards bay',
 'suntar',
 'cockburn town',
 'eslov',
 'imbituba',
 'kodinar',
 'orapa',
 'kosonsoy',
 'rawson',
 'whitehorse',
 'jiuquan',
 'puerto del rosario',
 'weihai',
 'bamiantong',
 'baherden',
 'yelizovo',
 'tomatlan',
 'krasnoselkup',
 'guerrero negro',
 'dehui',
 'juneau',
 'manta',
 'khor',
 'buenos aires',
 'iskateley',
 'portland',
 'vila franca do campo',
 'yulara',
 'chalmette',
 'dalbandin',
 'lethem',
 'hokitika',
 'manoel urbano',
 'los llanos de aridane',
 'maragogi',
 'wagar',
 'sakaiminato',
 'karangasem',
 'azanka',
 'hofn',
 'deori khas',
 'bambous virieux',
 'arco',
 'palasa',
 'loukhi',
 'kota tinggi',
 'nusaybin',
 'klaksvik',
 'fukue',
 'hargeysa',
 'acapulco',
 'la seyne-sur-mer',
 'juigalpa',
 'nagorsk',
 'acajutla',
 'oistins',
 'bonthe',
 'danielskuil',
 'port pirie',
 'rio branco',
 'broome',
 'muros',
 'palana',
 'taoudenni',
 'leopold',
 'bandarbeyla',
 'lira',
 'bac lieu',
 'juiz de fora',
 'sovetskiy',
 'george town',
 'omboue',
 'valdivia',
 'dunedin',
 'sisimiut',
 'skara',
 'havre-saint-pierre',
 'buraydah',
 'penzance',
 'emborion',
 'sorong',
 'aripuana',
 'nyagan',
 'nizhniy tsasuchey',
 'santa',
 'goba',
 'panaba',
 'tighnabruaich',
 'garowe',
 'redlands',
 'gejiu',
 'voznesenye',
 'nuevo progreso',
 'saint-leu',
 'lebu',
 'palmira',
 'puerto escondido',
 'parfenyevo',
 'micheweni',
 'ndele',
 'lady frere',
 'svetlogorsk',
 'ternate',
 'altay',
 'jiujiang',
 'veraval',
 'coihaique',
 'naze',
 'shimanovsk',
 'waipawa',
 'rorvik',
 'husavik',
 'buala',
 'bardiyah',
 'lang son',
 'constitucion',
 'xichang',
 'ambagarh chauki',
 'kijang',
 'pendleton',
 'pitimbu',
 'tezu',
 'tucurui',
 'astoria',
 'shieli',
 'anloga',
 'gat',
 'egvekinot',
 'williams lake',
 'esmeraldas',
 'karratha',
 'rio grande',
 'adrar',
 'anahuac',
 'oer-erkenschwick',
 'carballo',
 'poum',
 'sri aman',
 'pirojpur',
 'aulnoye-aymeries',
 'trinidad',
 'pacific grove',
 'nipawin',
 'solnechnyy',
 'bambanglipuro',
 'hukuntsi',
 'beloha',
 'dickinson',
 'sibolga',
 'namie',
 'lebyazhye',
 'jiazi',
 'lanzhou',
 'nueva italia de ruiz',
 'bonavista',
 'fort nelson',
 'molteno',
 'bukama',
 'plettenberg bay',
 'nichinan',
 'bahia honda',
 'owase',
 'mecca',
 'vestmannaeyjar',
 'havelock']

In [178]:
#a very interesting list comprehension experiment.  I am going to leave it for learning.
new_df[[('qaq' in city) for city in  new_df['city'].tolist()]]['city']

260    qaqortoq
Name: city, dtype: object

In [182]:
new_df[260:261][:]

,city,Latitude,Longitude,"Max temp, F",Humidity %,Cloudiness,"Wind Speed, mph",Country,Date
260,qaqortoq,60.72,-46.03,41.0,80.0,100.0,4.7,GL,1.592273e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [150]:
#print(new_df['Latitude'])
lat = new_df['Latitude'].tolist()
long = new_df['Longitude'].tolist()
tuple = [*zip(lat, long)]
humidity = new_df['Humidity %'].tolist()
print(humidity)

[94.0, 71.0, 80.0, 59.0, 76.0, 83.0, 90.0, 74.0, 85.0, 83.0, 11.0, 84.0, 72.0, 22.0, 51.0, 76.0, 68.0, 87.0, 67.0, 51.0, 73.0, 34.0, 59.0, 86.0, 73.0, 76.0, 81.0, 93.0, 75.0, 35.0, 31.0, 92.0, 81.0, 73.0, 67.0, 84.0, 69.0, 82.0, 96.0, 44.0, 55.0, 28.0, 85.0, 84.0, 76.0, 64.0, 53.0, 74.0, 76.0, 67.0, 33.0, 75.0, 74.0, 68.0, 98.0, 65.0, 83.0, 67.0, 62.0, 57.0, 77.0, 85.0, 88.0, 80.0, 56.0, 56.0, 84.0, 58.0, 71.0, 86.0, 78.0, 81.0, 60.0, 72.0, 57.0, 80.0, 100.0, 14.0, 46.0, 72.0, 96.0, 93.0, 77.0, 30.0, 70.0, 79.0, 45.0, 69.0, 80.0, 58.0, 98.0, 34.0, 80.0, 67.0, 42.0, 26.0, 76.0, 62.0, 62.0, 93.0, 86.0, 71.0, 87.0, 40.0, 94.0, 84.0, 86.0, 56.0, 83.0, 32.0, 60.0, 36.0, 88.0, 79.0, 71.0, 66.0, 81.0, 66.0, 71.0, 93.0, 82.0, 62.0, 76.0, 16.0, 52.0, 88.0, 51.0, 68.0, 93.0, 85.0, 44.0, 71.0, 11.0, 87.0, 72.0, 45.0, 84.0, 68.0, 79.0, 55.0, 62.0, 74.0, 88.0, 72.0, 46.0, 73.0, 100.0, 88.0, 12.0, 86.0, 60.0, 95.0, 63.0, 93.0, 100.0, 41.0, 84.0, 87.0, 82.0, 52.0, 63.0, 100.0, 51.0, 88.0, 93.0, 60.0, 68.0, 92.0, 77.0, 20.0, 50.0, 93.0, 50.0, 94.0, 82.0, 64.0, 75.0, 87.0, 60.0, 53.0, 68.0, 69.0, 42.0, 57.0, 88.0, 49.0, 88.0, 60.0, 70.0, 96.0, 88.0, 67.0, 94.0, 94.0, 51.0, 72.0, 60.0, 52.0, 75.0, 69.0, 90.0, 60.0, 58.0, 31.0, 93.0, 81.0, 74.0, 45.0, 58.0, 67.0, 71.0, 39.0, 87.0, 68.0, 76.0, 76.0, 74.0, 84.0, 98.0, 77.0, 26.0, 54.0, 88.0, 59.0, 71.0, 81.0, 64.0, 78.0, 87.0, 20.0, 78.0, 78.0, 77.0, 22.0, 80.0, 82.0, 95.0, 61.0, 12.0, 91.0, 71.0, 83.0, 86.0, 70.0, 55.0, 65.0, 67.0, 49.0, 64.0, 49.0, 61.0, 80.0, 69.0, 28.0, 77.0, 78.0, 73.0, 66.0, 70.0, 94.0, 80.0, 62.0, 37.0, 72.0, 52.0, 83.0, 42.0, 97.0, 60.0, 72.0, 19.0, 89.0, 92.0, 70.0, 96.0, 17.0, 10.0, 9.0, 77.0, 78.0, 67.0, 82.0, 100.0, 83.0, 43.0, 77.0, 88.0, 90.0, 36.0, 64.0, 13.0, 79.0, 88.0, 21.0, 88.0, 73.0, 75.0, 100.0, 52.0, 79.0, 82.0, 71.0, 27.0, 76.0, 76.0, 100.0, 70.0, 98.0, 49.0, 72.0, 95.0, 60.0, 82.0, 88.0, 73.0, 58.0, 78.0, 87.0, 70.0, 28.0, 74.0, 68.0, 95.0, 77.0, 83.0, 86.0, 81.0, 39.0, 33.0, 53.0, 34.0, 77.0, 59.0, 82.0, 91.0, 87.0, 23.0, 66.0, 75.0, 77.0, 44.0, 54.0, 57.0, 73.0, 88.0, 80.0, 82.0, 77.0, 51.0, 28.0, 86.0, 61.0, 84.0, 70.0, 66.0, 87.0, 83.0, 78.0, 24.0, 90.0, 55.0, 67.0, 28.0, 41.0, 23.0, 88.0, 93.0, 77.0, 64.0, 46.0, 98.0, 74.0, 70.0, 64.0, 79.0, 21.0, 100.0, 53.0, 90.0, 98.0, 31.0, 62.0, 73.0, 93.0, 67.0, 47.0, 88.0, 98.0, 72.0, 46.0, 79.0, 100.0, 88.0, 82.0, 58.0, 29.0, 51.0, 59.0, 23.0, 83.0, 48.0, 57.0, 21.0, 66.0, 68.0, 53.0, 77.0, 41.0, 76.0, 83.0, 89.0, 82.0, 67.0, 51.0, 77.0, 31.0, 40.0, 11.0, 86.0, 86.0, 79.0, 78.0, 89.0, 53.0, 57.0, 84.0, 66.0, 85.0, 76.0, 68.0, 86.0, 82.0, 94.0, 94.0, 34.0, 100.0, 61.0, 69.0, 70.0, 59.0, 87.0, 79.0, 100.0, 69.0, 87.0, 68.0, 67.0, 100.0, 55.0, 93.0, 59.0, 12.0, 77.0, 59.0, 97.0, 67.0, 96.0, 56.0, 94.0, 91.0, 93.0, 54.0, 69.0, 82.0, 87.0, 24.0, 93.0, 58.0, 73.0, 74.0, 54.0, 31.0, 60.0, 81.0, 89.0, 87.0, 62.0, 36.0, 97.0, 90.0, 67.0, 77.0, 86.0, 78.0, 74.0, 90.0, 75.0, 88.0, 87.0, 97.0, 70.0, 39.0, 62.0, 83.0, 85.0, 83.0, 62.0, 76.0, 96.0, 70.0, 67.0, 40.0, 76.0, 90.0, 63.0, 83.0, 34.0, 59.0, 100.0, 76.0, 86.0, 71.0, 45.0, 88.0, 82.0, 53.0, 44.0, 88.0, 33.0, 92.0, 14.0, 46.0, 92.0, 96.0, 73.0, 94.0, 71.0, 10.0, 77.0, 72.0, 45.0, 72.0, 76.0, 59.0, 95.0, 69.0, 63.0, 50.0, 67.0, 74.0, 100.0, 49.0, 80.0, 87.0, 91.0, 58.0, 78.0, 88.0, 82.0, 45.0, 21.0, 68.0, 90.0]

In [153]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(new_df[['Latitude','Longitude']], weights=new_df['Humidity %'])
fig.add_layer(heatmap_layer)
#heatmap_layer = gmaps.WeightedHeatmap(humidity)
#fig.add_layer(heatmap_layer)
heatmap_layer.max_intensity = 200
heatmap_layer.point_radius = 10
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
Narrow down the DataFrame to find your ideal weather condition. For example:
A max temperature lower than 80 degrees but higher than 70.
Wind speed less than 10 mph.
Zero cloudiness.
Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [238]:
#max temperature less than 90 and greater than 50
#cloudiness < 30
# wind < 30
max_temp_bool = (new_df['Max temp, F'] < 80) & (new_df['Max temp, F'] > 65)
Cloudiness_bool = new_df['Cloudiness'] <20
wind_bool = new_df['Wind Speed, mph'] < 20
hotel_df = new_df[max_temp_bool & Cloudiness_bool & wind_bool][:]
hotel_df

,city,Latitude,Longitude,"Max temp, F",Humidity %,Cloudiness,"Wind Speed, mph",Country,Date
8,faanui,-16.48,-151.75,79.56,85.0,13.0,16.40,PF,1.592274e+09
21,chapleau,47.84,-83.40,66.20,34.0,5.0,9.17,CA,1.592274e+09
29,faya,18.39,42.45,66.20,35.0,0.0,1.99,SA,1.592274e+09
30,tall kayf,37.08,41.07,74.97,31.0,0.0,5.06,TR,1.592274e+09
46,bud,39.45,-86.18,71.60,53.0,1.0,5.82,US,1.592274e+09
...,...,...,...,...,...,...,...,...,...
481,saint-leu,-21.15,55.28,66.20,77.0,2.0,6.93,RE,1.592274e+09
501,bardiyah,31.76,25.09,77.05,40.0,0.0,13.31,LY,1.592274e+09
514,gat,31.61,34.76,68.00,82.0,1.0,1.74,IL,1.592274e+09
518,karratha,-20.74,116.85,75.94,33.0,0.0,18.92,AU,1.592274e+09
524,poum,-20.23,164.02,75.38,73.0,0.0,15.41,NC,1.592274e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [239]:
hotel_df['Hotel Name'] = 0

In [253]:
hotel_df = hotel_df.rename(columns = {'city' : 'City', 'Latitude': 'Lat', 'Longitude': 'Lng'})

In [257]:
for city in hotel_df['City']:
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    target_type = "lodging"
    lat = hotel_df.loc[hotel_df['City'] == city , 'Lat'].to_numpy()[0]
    lon = hotel_df.loc[hotel_df['City'] == city , 'Lng'].to_numpy()[0]
    coords = str(lat) + " , " + str(lon)
    print('coordinates = ',coords)
    #coords = "47.6062095,-122.3320708"
    radius = 5000
    params = {
        "location": coords,
        "types": target_type,
        "radius": radius,
        "key": g_key
    }

    # Build URL using the Google Maps API
    try:
        response= requests.get(base_url, params).json()['results'][0]['name']
    except IndexError:
        response = "no hotel"
    hotel_df.loc[hotel_df['City'] == city,'Hotel Name'] = response
hotel_df

coordinates =  -16.48 , -151.75
coordinates =  47.84 , -83.4
coordinates =  18.39 , 42.45
coordinates =  37.08 , 41.07
coordinates =  39.45 , -86.18
coordinates =  -20.73 , 139.5
coordinates =  41.09 , 45.37
coordinates =  39.18 , -84.53
coordinates =  14.9 , -24.5
coordinates =  42.1 , -79.24
coordinates =  68.75 , 161.3
coordinates =  63.28 , 118.33
coordinates =  -22.12 , 14.28
coordinates =  -22.67 , 167.48
coordinates =  39.15 , -123.21
coordinates =  -20.97 , 164.7
coordinates =  -15.2 , 12.15
coordinates =  31.35 , 27.25
coordinates =  47.47 , -94.88
coordinates =  32.35 , -85.2
coordinates =  27.18 , 31.18
coordinates =  35.83 , 14.46
coordinates =  -35.72 , 150.18
coordinates =  39.08 , -84.51
coordinates =  50.57 , 116.25
coordinates =  -0.22 , 20.87
coordinates =  -1.2 , -46.02
coordinates =  9.41 , 45.06
coordinates =  44.67 , -90.17
coordinates =  32.77 , 22.64
coordinates =  -43.53 , 172.63
coordinates =  -24.87 , 113.63
coordinates =  36.69 , 53.55
coordinates =  -5.56 , -80.82
coordinates =  52.14 , 113.5
coordinates =  -20.28 , 44.28
coordinates =  2.89 , -72.13
coordinates =  -21.34 , 55.48
coordinates =  -3.3 , -60.62
coordinates =  18.22 , 42.51
coordinates =  29.03 , 21.55
coordinates =  38.42 , -121.42
coordinates =  -2.92 , -39.92
coordinates =  27.91 , -15.45
coordinates =  39.93 , 64.38
coordinates =  36.53 , -87.36
coordinates =  48.01 , 91.64
coordinates =  36.73 , -91.85
coordinates =  -5.55 , 12.2
coordinates =  41.26 , 71.55
coordinates =  28.5 , -13.86
coordinates =  19.93 , -105.25
coordinates =  27.98 , -114.06
coordinates =  44.53 , 125.7
coordinates =  -9.01 , -35.22
coordinates =  37.08 , 41.22
coordinates =  21.28 , -88.27
coordinates =  -21.15 , 55.28
coordinates =  31.76 , 25.09
coordinates =  31.61 , 34.76
coordinates =  -20.74 , 116.85
coordinates =  -20.23 , 164.02

,City,Lat,Lng,"Max temp, F",Humidity %,Cloudiness,"Wind Speed, mph",Country,Date,Hotel Name
8,faanui,-16.48,-151.75,79.56,85.0,13.0,16.40,PF,1.592274e+09,Bora-Bora Pearl Beach Resort & Spa
21,chapleau,47.84,-83.40,66.20,34.0,5.0,9.17,CA,1.592274e+09,Nemegosenda Lake Lodge
29,faya,18.39,42.45,66.20,35.0,0.0,1.99,SA,1.592274e+09,Ù…Ù‚Ø¨Ø±Ø© Ø§Ù„ Ù…Ø¬Ù…Ù„
30,tall kayf,37.08,41.07,74.97,31.0,0.0,5.06,TR,1.592274e+09,no hotel
46,bud,39.45,-86.18,71.60,53.0,1.0,5.82,US,1.592274e+09,Madsion Scouts Camp
...,...,...,...,...,...,...,...,...,...,...
481,saint-leu,-21.15,55.28,66.20,77.0,2.0,6.93,RE,1.592274e+09,La Caz Oceane
501,bardiyah,31.76,25.09,77.05,40.0,0.0,13.31,LY,1.592274e+09,Ø¨ÙˆØ±ØªÙˆ Ø¨Ø±Ø¯ÙŠØ©
514,gat,31.61,34.76,68.00,82.0,1.0,1.74,IL,1.592274e+09,×¨×’×¢ ×‘× ×—×ª
518,karratha,-20.74,116.85,75.94,33.0,0.0,18.92,AU,1.592274e+09,ibis Styles Karratha
524,poum,-20.23,164.02,75.38,73.0,0.0,15.41,NC,1.592274e+09,GÃ®te kajeon

In [258]:
hotel_df.loc[hotel_df['Hotel Name'] == 'no hotel',]

,City,Lat,Lng,"Max temp, F",Humidity %,Cloudiness,"Wind Speed, mph",Country,Date,Hotel Name
30,tall kayf,37.08,41.07,74.97,31.0,0.0,5.06,TR,1.592274e+09,no hotel
203,sherlovaya gora,50.57,116.25,77.95,31.0,0.0,1.99,RU,1.592274e+09,no hotel
227,boende,-0.22,20.87,72.48,78.0,0.0,0.58,CD,1.592274e+09,no hotel

In [259]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [260]:
# Add marker layer ontop of heat map


# Display figure
print(locations)

       Lat     Lng
8   -16.48 -151.75
21   47.84  -83.40
29   18.39   42.45
30   37.08   41.07
46   39.45  -86.18
..     ...     ...
481 -21.15   55.28
501  31.76   25.09
514  31.61   34.76
518 -20.74  116.85
524 -20.23  164.02

[62 rows x 2 columns]

In [284]:
 # Create hotel layer
hotel_list = [hotel_df['Hotel Name']]
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=4,
    info_box_content=hotel_info
)

fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))